
.wvl-field input,
.wvl-field select {
    width: 100%;
    margin-bottom: 1rem;
}

.wvl-cover-photo-field input {
    display: none;
}

.wvl-cover-photo-field label {
    display: block;
    width: 100%;
    min-height: 240px;
    border: 3px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wvl-cover-photo-field label .upload-icon {
    display: block;
}

/**
Single Venue
============= */

.single-venue .site-main .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-venue .site-.site-main .header .meta {
    display: flex;
    justify-content: flex-start;
    gap: 32px;
    margin-top: 8px;
}

.single-venue .site-main .header .links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.single-venue .site-main .header .links .social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    gap: 12px;
    margin: 0;
    margin-right: 24px;
}

.single-venue .site-main .header .links .social a {
    background-color: #F1F1F1;
    border-radius: 50%;
    display: inline-block;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.single-venue .site-main .wvl-content {
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    padding: 8px 16px;
    margin-top: 32px;
}

.single-venue .site-main .wvl-content .tabs {
    list-style-type: none;
    margin-left: 0;
}

.single-venue .site-main .wvl-content .tabs .tab-link a {
    padding: 8px 16px;
    display: inline-block;
    text-decoration: none;
}

.single-venue .site-main .wvl-content .tabs .active a {
    background-color: var(--global-palette-btn-bg);
    color: var(--global-palette-btn);
}

/**
Venue Listing
============= */
.venue-listing .site-main {
    padding-top: 16px;
    display: flex;
    gap: 24px;
}

.venue-listing .site-main .wvl-sidebar {
    width: 310px;
}

.venue-listing .site-main .wvl-search-form {
    margin-bottom: 16px;
}


.venue-listing .site-main .wlv-filter {
    @apply border border-gray-200 rounded-xl p-4;
}

.venue-listing .site-main .wlv-filter .filter h3 {
    @apply font-bold mt-0 mb-2;

}

.venue-listing .site-main .wlv-filter .filter {
    @apply mb-6;
}

.venue-listing .site-main .wlv-filter input[type="checkbox"] {
    @apply mb-2 inline-block;
}


.venue-listing .site-main .wvl-content {
    width: calc(100% - (310px + 24px));
}

.venue-listing .site-main .wvl-content .total-result {
    font-size: 22px;
    font-weight: 600;

}

.venue-listing .site-main .wvl-content .wvl-list .wvl-list-item {
    display: flex;
    gap: 24px;
}

.venue-listing .site-main .wvl-content .wvl-list .wvl-list-item .thumbnail {
    width: 320px;
    height: auto;
}

.venue-listing .site-main .wvl-content .wvl-list .wvl-list-item .item-content {
    width: calc(100% - (320px + 24px));
}

.venue-listing .site-main .wvl-content .wvl-list .wvl-list-item .item-content .meta {
    display: flex;
    justify-content: flex-start;
    gap: 32px;
    margin-bottom: 12px;
}
