.listing-archive {
  .site-container {
    @apply block items-start gap-3 md:flex lg:justify-between lg:gap-10;
  }
  .wvl-sidebar {
    @apply w-full md:w-[380px];

    .search-container {
      @apply flex items-center justify-between rounded-md border border-quaternary p-1;

      .search-input {
        border: unset;
        background-color: white;
      }

      .search-btn {
        &:hover {
          background-color: transparent;
        }
        .icon {
          @apply inline-block rounded-lg bg-[#916E37] p-3 text-white;
        }
      }
    }

    .filter-container {
      @apply rounded-md border border-quaternary px-5 py-6;

      .filter {
        @apply mb-5;

        .header {
          @apply flex items-center justify-between;

          .title {
            @apply text-lg font-bold;
          }

          .toggle-icon {
            @apply inline-block cursor-pointer text-primary;
          }
        }

        .name {
          @apply my-3 block cursor-pointer;

          .radio {
            @apply mr-2 h-4 w-4;
          }

          .checkbox {
            @apply mr-2 h-4 w-4;
          }
        }
      }
    }
  }

  .listing-content {
    .no-result {
      @apply mt-5 text-lg font-semibold text-primary;
    }

    .total-result {
      @apply mb-2 mt-8 text-sm font-semibold text-primary md:mb-8 md:mt-3 md:text-xl;
    }

    .listing-item {
      @apply mb-8 block grid-cols-[320px_1fr] gap-8 xl:mb-5 xl:grid;

      .thumbnail {
        @apply h-full w-full xl:max-w-80;
        aspect-ratio: 3 / 2;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          height: 100%;
          width: 100%;
          background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0) 60%,
            rgba(0, 0, 0, 0.8) 99%,
            #000000 100%
          );
        }

        img {
          @apply block !h-full !w-full rounded-md object-cover;
        }
      }

      .content {
        @apply mt-4 flex-1 xl:mt-0;

        .title {
          a {
            @apply text-2xl font-semibold;
          }
        }

        .location {
          @apply py-2 text-sm text-secondary;

          .icon {
            @apply text-primary;
          }
        }

        .description {
          @apply mt-1 text-sm text-secondary;
        }

        .meta {
          @apply mt-5 flex gap-4;

          .reviews {
            @apply inline-flex items-center;

            star-rating {
              --font-size: 18px;
            }

            .count {
              @apply text-sm text-secondary;
            }
          }
        }

        .actions {
          @apply mt-0 md:mt-4;
        }
      }
    }
  }
}
