.single-venue {
  @apply bg-white;

  .cover-photo {
    @apply max-h-[520px] w-full overflow-hidden md:min-h-80;

    img {
      @apply block h-auto w-full object-cover;
    }
  }

  .site-container {
    @apply pt-4;

    .header {
      @apply items-center justify-between md:flex;

      .meta {
        @apply mt-2 flex flex-col gap-4 py-2 text-sm text-secondary md:flex-row;

        .address {
          .icon {
            @apply text-primary;
          }
        }

        .separator {
          @apply hidden h-6 w-[1.5px] bg-quaternary md:inline-block;
        }

        .reviews {
          star-rating {
            --font-size: 18px;
          }
        }
      }

      .links {
        @apply flex flex-wrap items-center justify-end;

        .social {
          @apply m-0 mr-6 flex flex-wrap items-center justify-end gap-3;
        }
      }
    }

    .wvl-content {
      @apply mt-8 rounded-lg px-4 py-2 ring-1 ring-gray-200;

      .tabs {
        @apply flex items-end justify-between;

        .tab {
          @apply flex flex-1 cursor-pointer items-center justify-center gap-2 rounded-t-lg p-4 text-sm text-gray-500 ring-1 ring-gray-200 md:text-lg;

          .label {
            @apply hidden md:inline-block;
          }

          .icon {
            @apply text-xl;
          }

          &.active {
            @apply bg-primary font-semibold text-white;
          }
        }
      }

      .sticky {
        @apply z-30 w-full border-b-2 border-gray-300 bg-white drop-shadow-sm;
        position: fixed;
        top: 2px;
        left: 0;
        right: 0;
        width: inherit;
        margin: 0 auto;
      }

      .description {
        @apply pb-10 pt-6 text-gray-500;
      }
    }
  }

  .related-items-wrapper {
    @apply my-5 flex flex-wrap gap-4;

    .listing-item {
      @apply mb-8 block w-full overflow-hidden rounded-lg border border-gray-300 bg-white shadow-md xl:text-red-50;

      @media (min-width: 768px) {
        width: calc((100% - 32px) / 2);
      }

      @media (min-width: 1024px) {
        width: calc((100% - 48px) / 3);
      }

      @media (min-width: 1280px) {
        width: calc((100% - 74px) / 4);
      }

      .thumbnail {
        @apply min-h-[180px] w-full;

        img {
          @apply block h-full w-full rounded-md object-cover;
        }
      }

      .content {
        @apply flex-1 p-4;

        .title {
          a {
            @apply text-2xl font-semibold;
          }
        }

        .location {
          @apply py-2 text-sm text-secondary;

          .icon {
            @apply text-primary;
          }
        }

        .description {
          @apply mt-1 text-sm text-secondary;
        }

        .meta {
          @apply mt-1 flex gap-4;

          .reviews {
            @apply inline-flex items-center;

            star-rating {
              --font-size: 18px;
            }

            .count {
              @apply text-sm text-secondary;
            }
          }
        }

        .actions {
          @apply mt-0;
        }
      }
    }
  }
}

.review-list .content {
  position: relative;
}

.review-list .content::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -39px;
  border-width: 20px;
  border-style: solid;
  border-color: transparent #f3f4f6 transparent transparent;
}
