.single-venue .site-main .wvl-content {
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    padding: 8px 16px;
    margin-top: 32px;
}

.single-venue .site-main .wvl-content .tabs {
    list-style-type: none;
    margin-left: 0;
}

.single-venue .site-main .wvl-content .tabs .tab-link a {
    padding: 8px 16px;
    display: inline-block;
    text-decoration: none;
}

.single-venue .site-main .wvl-content .tabs .active a {
    background-color: var(--global-palette-btn-bg);
    color: var(--global-palette-btn);
}

.review-list .content {
    position: relative;
}

.review-list .content::before {
    content: "";
    position: absolute;
    top: 20px;
    left: -39px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent #F3F4F6 transparent transparent;
}
