@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .wvl-btn-primary {
    @apply mb-2 me-2 mt-4 inline-block rounded-md bg-[#916E37] px-5 py-3 text-center text-sm font-bold text-white hover:text-gray-100 focus:z-10 focus:ring-1 focus:ring-blue-300;
  }

  .wvl-btn-secondary {
    @apply mb-2 me-2 mt-4 inline-block rounded-md bg-white px-5 py-3 text-center text-sm font-bold text-primary ring-1 !ring-primary hover:bg-white hover:text-primary hover:ring-1;
  }

  .wvl-btn {
    @apply mb-2 me-2 mt-4 inline-block cursor-pointer rounded-lg !border !border-gray-200 bg-white px-5 py-3 text-center text-sm font-medium text-primary !shadow-none hover:bg-transparent hover:text-blue-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100;
  }

  .wvl-field-row {
    @apply mb-4 block justify-between gap-4 md:flex;
  }

  .wvl-field {
    @apply w-full;
  }

  .wvl-field input {
    @apply block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500;
  }

  .wvl-comments-pagination .page-links {
    @apply flex h-8 items-center justify-center border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700;
  }

  .wvl-comments-pagination .page-links.current {
    @apply bg-gray-300;
  }

  .pricing-tables {
    @apply flex items-start justify-between;
  }

  .pricing-card {
    @apply w-full max-w-sm rounded-lg border border-gray-200 bg-white p-4 shadow sm:p-5;
  }

  .pricing-card .heading {
    @apply mb-4 text-xl font-bold text-gray-700;
  }

  .pricing-card .price {
    @apply flex items-baseline text-primary;
  }

  .pricing-card .list {
    @apply my-7 space-y-5;
  }

  .pricing-card .item {
    @apply flex items-center;
  }

  .pricing-card .item .icon {
    @apply flex-shrink-0 text-lg text-blue-700;
  }

  .pricing-card .item .text {
    @apply ms-3 text-base font-normal leading-tight text-gray-500;
  }

  .pricing-card .item.inactive .icon {
    @apply text-gray-400;
  }

  .pricing-card .item.inactive .text {
    @apply line-through decoration-gray-500;
  }

  .analytics-summary {
    @apply flex flex-wrap items-stretch justify-start md:flex-nowrap;
  }

  .analytics-summary .card {
    @apply w-full max-w-[150px] p-4 sm:p-5 md:max-w-sm;
  }

  .analytics-summary .card span {
    @apply text-sm font-light text-white;
  }

  .analytics-summary .card h3 {
    @apply text-2xl font-semibold text-white;
  }

  .verified-badge {
    @apply relative ml-1 inline-flex items-center justify-center;

    .bg {
      @apply text-2xl text-[#009EE7];
    }
    .mark {
      @apply absolute text-sm text-white;
    }

    &.small {
      .bg {
        @apply text-lg;
      }
      .mark {
        @apply text-xs;
      }
    }
  }
}

.wvl-field input,
.wvl-field select {
  width: 100%;
  margin-bottom: 1rem;
}

.wvl-cover-photo-field input {
  display: none;
}

.wvl-cover-photo-field label {
  display: block;
  width: 100%;
  min-height: 240px;
  border: 3px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wvl-cover-photo-field label .upload-icon {
  display: block;
}

@import "./styles/full-calendar.css";
